# ── Twilio ──────────────────────────────────────────────────────
TWILIO_ACCOUNT_SID=AC*************************
TWILIO_AUTH_TOKEN= ************************
TWILIO_PHONE_NUMBER=**************

# ── Deepgram (STT: Nova-3) ───────────────────────────────────────
DEEPGRAM_API_KEY=*******************************

# ── LLM Provider ────────────────────────────────────────────────
# Choose: "openai" or "anthropic"
LLM_PROVIDER=groq

# OpenAI (default — gpt-4o-mini is fastest for voice)
OPENAI_API_KEY=*********************************************************************************************************
OPENAI_MODEL=gpt-4o-mini

# Anthropic (alternative — claude-3-5-haiku)
# ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxxxxxxxxxxxxxx
# ANTHROPIC_MODEL=claude-3-5-haiku-20241022

# Groq (Faster LLM INFERENCE)
GROQ_API_KEY=**********************************
GROQ_MODEL=llama-3.1-8b-instant

# # ── Cartesia (TTS: Sonic) ────────────────────────────────────────
CARTESIA_API_KEY=************************
CARTESIA_VOICE_ID=a0e99841-438c-4a64-b679-ae501e7d6091

# ── ElevenLabs (optional TTS alternative) ───────────────────────
ELEVENLABS_API_KEY=sk_*************************************************************************
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM


# SERVICE NOW
# Existing: GROQ_API_KEY etc.
SERVICENOW_URL=************************
SERVICENOW_USERNAME=****
SERVICENOW_PASSWORD=**************


# ── Server ──────────────────────────────────────────────────────
PORT=8000
LOG_LEVEL=info
TEST_SERVER_URL=wss://arlean-poor-rose.ngrok-free.dev/media-stream

# ── Latency Tuning (optional) ───────────────────────────────────
# DEEPGRAM_ENDPOINTING_MS=200
# TTS_MIN_CHUNK_CHARS=40




# Testing the langgraph agent

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=******************************************
LANGSMITH_PROJECT="VoiceAgent-CustomerSupportAgent"